@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

// Font-family
$heading: "Raleway", sans-serif;
$body: "Raleway", sans-serif;

// Title Color
$title-color: #212538;

// Essential Colors
$base-color: #1CACF3;
$accent-color: #120f29;

$body-color: rgb(77, 70, 70);
$border-color: rgba(14, 14, 14, 0.1);

$section-bg: #f6f8fa;
$body-bg: #fff;

$white: #fff;

$theme-one: #F23674;
$theme-two: #AE23F4;
$theme-three: #FFA03A;
$theme-four: #15DE9B;
$theme-five: #7212F1;

// color variable for Bootstrap
$primary: #7367f0;
$secondary: #868e96;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;
$dark: #082032;
$light: #bcc7da;
$muted: #a0a0a0;
