@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

// Font-family
$heading: "Raleway", sans-serif;
$body: "Raleway", sans-serif;

// Title Color
$title-color: #040e3b;

// Essential Colors
$gradient-one: radial-gradient(
    108.3% 186.75% at -4.62% 9.78%,
    #f9636b 0%,
    #b6246e 100%
);
.text-gradient {
    background: $gradient-one;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

$base-color: #F45E6C;
$accent-color: #120f29;

$body-color: rgb(77, 70, 70);
$border-color: rgba(14, 14, 14, 0.1);

$section-bg: #f6f8fa;
$body-bg: #fff;

$white: #fff;

$theme-one: #f23674;
$theme-two: #ae23f4;
$theme-three: #ffa03a;
$theme-four: #15de9b;
$theme-five: #7212f1;

// color variable for Bootstrap
$primary: #7367f0;
$secondary: #868e96;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #1e9ff2;
$dark: #082032;
$light: #bcc7da;
$muted: #a0a0a0;
