// Section Header
.section-header {
	margin-bottom: 50px;
	.subtitle {
		margin-bottom: 10px;
		font-size: 24px;
		font-family: "Kalam";
		color: $gradient-one;
		&::before,
		&::after {
			content: " ** ";
			left: 0;
			top: 12px;
		}
		@include breakpoint(max-md) {
			font-size: 20px;
		}
	}
	.title {
		margin-bottom: 20px;
	}
	.text {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 15px;
		@include breakpoint(max-md) {
			font-size: 18px;
		}
	}
}
.rtl {
	direction: rtl;
}
// Section Header

// About Section
.section-thumb {
	position: relative;
	z-index: 1;
	.shape1 {
		position: absolute;
		right: -150px;
		top: -50px;
		z-index: -2;
		max-width: 100%;
		img {
			max-width: 100%;
		}
	}
}
.about-info-item {
	@extend %flex;
	align-items: center;
	&:nth-of-type(3n + 1) {
		.icon {
			background: $theme-one;
		}
	}
	&:nth-of-type(3n + 2) {
		.icon {
			background: $theme-two;
		}
	}
	&:nth-of-type(3n + 3) {
		.icon {
			background: $theme-three;
		}
	}
	.icon {
		width: 40px;
		height: 40px;
		background: $theme-one;
		display: grid;
		place-items: center;
		color: $white;
		border-radius: 5px;
		font-size: 18px;
	}
	.title {
		margin-bottom: 0;
		padding-left: 15px;
	}
}
// About Section

// How Section
.how-section {
	background-image: linear-gradient(135deg, rgba($theme-one, 0.1) 0%, rgba($theme-five, 0.1) 100%);
	.bg-image {
		opacity: .15;
		top: auto;
	}
}
.how-item {
	text-align: center;
	padding: 30px;
	border-radius: 35px;
	position: relative;
	z-index: 1;
	box-shadow: 0 5px 25px 5px rgba($dark, 0.2);
	margin-top: 20px;
	&::before {
		@extend %position-set;
		background: $theme-one;
		border-radius: 35px;
		transform: skew(5deg) rotate(-5deg);
		z-index: -1;
		top: -10px;
		height: calc(100% + 30px);
		@include breakpoint(max-sm) {
			transform: skew(4deg);
		}
	}
	&::after {
		@extend %position-set;
		background: $white;
		border-radius: 35px;
		transform: skew(-5deg);
		z-index: -1;
	}
	&__header {
		.text {
			font-size: 20px;
			font-weight: 500;
			line-height: 1;
			color: $dark;
		}
		.count {
			line-height: 1;
			color: $theme-one; 
		}
	}
	.title {
		margin-bottom: 15px;
	}
	.icon img {
		width: 75px;
		height: 75px;
		object-fit: contain;
		margin: 25px 0;
	}
}
div[class*="col"] {
	&:nth-of-type(3n + 2) {
		.how-item {
			&::before {
				background: $theme-two;
			}
			&__header {
				.count {
					color: $theme-two;
				}
			}
			.title {
				&::before {
					background: $theme-two;
				}
			}
		}
	}
	&:nth-of-type(3n + 3) {
		.how-item {
			&::before {
				background: $theme-four;
			}
			&__header {
				.count {
					color: $theme-four;
				}
			}
			.title {
				&::before {
					background: $theme-four;
				}
			}
		}
	}
}
// How Section

// Service Section
.service-item {
	text-align: center;
	padding: 40px 30px;
	background: rgba($theme-one, 0.2);
	border-radius: 12px;
	@extend %transition;
	height: 100%;
	position: relative;
	.read-more {
		color: $theme-one;
	}
	&:hover {
		transform: translateY(-7px);
	}
	&__thumb {
		margin-bottom: 20px;
		img {
			width: 180px;
			height: 180px;
			object-fit: contain;
		}
	}
	&__content {
		.title {
			max-width: 150px;
			margin: 0 auto 18px;
		}
		.read-more {
			margin-top: 25px;
		}
	}
	.badge {
		position: absolute;
		right: 10px;
		top: 10px;
		background: rgba($theme-one, 0.15);
		border: 1px solid $theme-one;
		color: $theme-one;
	}
	@include breakpoint(max-xxl) {
		@include breakpoint(xl) {
			padding: 35px 25px;
		}
		.service-item__thumb {
			margin-bottom: 10px;
		}
		.service-item__content {
			.title {
				font-size: 20px;
			}
			.read-more {
				margin-top: 15px;
			}
		}
	}
}
div[class*="col"] {
	&:nth-of-type(4n + 2) {
		.service-item {
			background: rgba($theme-two, 0.2);
			.read-more {
				color: $theme-two;
			}
			.badge {
				background: rgba($theme-two, 0.15);
				border: 1px solid $theme-two;
				color: $theme-two;
			}
		}
	}
	&:nth-of-type(4n + 3) {
		.service-item {
			background: rgba($theme-three, 0.2);
			.read-more {
				color: $theme-three;
			}
			.badge {
				background: rgba($theme-three, 0.15);
				border: 1px solid $theme-three;
				color: $theme-three;
			}
		}
	}
	&:nth-of-type(4n + 4) {
		.service-item {
			background: rgba($theme-four, 0.2);
			.read-more {
				color: $theme-four;
			}
			.badge {
				background: rgba($theme-four, 0.15);
				border: 1px solid $theme-four;
				color: $theme-four;
			}
		}
	}
}
// Service Section

// Faq Section
.faq__item {
	&:not(:last-child) {
		margin-bottom: 16px;
	}
	border: 3px solid rgba($base-color, 0);
	@extend %transition;
	.faq__header {
		padding: 20px 25px;
		position: relative;
		cursor: pointer;
		border-radius: 10px;
		box-shadow: 0px 3px 30px 0px rgba($base-color, 0.2);
		.faq__title {
			padding-right: 25px;
		}
		.faq__icon {
			position: absolute;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			right: 25px;
			background: rgba($base-color, 0.1);
			@extend %flex-center;
			@include transition;
		}
	}
	.faq__content {
		padding: 20px;
		display: none;
	}
	&.open {
		border: 3px solid $base-color;
		border-radius: 10px;
		.faq__header {
			border: 0px;
			box-shadow: 0px !important;
		}
		.faq__icon {
			transform: rotate(90deg);
		}
	}
	&.active {
		.faq__content {
			display: block;
		}
	}
}
// Faq Section

// Client Section
.rating {
	&.coloured {
		color: $warning;
	}
}
.client-section {
	background-image: linear-gradient(135deg, rgba($theme-one, 0.1) 0%, rgba($theme-five, 0.1) 100%);
	.single-slide {
		padding: 7px 12px 25px;
		border-radius: 10px;
	}
	.container {
		position: relative;
		z-index: 1;
	}
}
.bg-image {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	opacity: 0.08;
}
.testimonial-item {
	box-shadow: 0px 5px 15px rgba($dark, 0.12);
	padding: 40px 30px;
	border-radius: 10px;
	z-index: 1;
	position: relative;
	&::before {
		@extend %position-set;
		background: rgba(242, 54, 116, 0.1);
		// background: $white;
		border-radius: 10px;
		z-index: -1;
	}
	.testimonial-thumb {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		border: 4px solid $base-color;
	}
	.content-header {
		position: relative;
		.name {
			margin-bottom: 0px;
		}
		.designation {
			color: $theme-three;
			font-size: 14px;
		}
	}
	.slick-dots {
		display: none;
	}
	.content-body {
		margin-top: 20px;
		p {
			font-size: 15px;
		}
	}
}

.single-slide {
	&:nth-of-type(4n + 1) {
		.testimonial-item {
			&::before {
				background: rgba($theme-one, 0.1);
			}
		}
	}
	&:nth-of-type(4n + 2) {
		.testimonial-item {
			&::before {
				background: rgba($theme-two, 0.1);
			}
		}
	}
	&:nth-of-type(4n + 3) {
		.testimonial-item {
			&::before {
				background: rgba($theme-three, 0.1);
			}
		}
	}
	&:nth-of-type(4n + 4) {
		.testimonial-item {
			&::before {
				background: rgba($theme-four, 0.1);
			}
		}
	}
}
// Client Section

// Contact Section
.contact-info-item {
	padding: 30px;
	background: rgba($theme-one, 0.1);
	border-radius: 10px;
	@extend %flex;
	height: 100%;
	.icon {
		width: 75px;
		height: 75px;
		background: $theme-one;
		display: grid;
		place-items: center;
		font-size: 26px;
		color: $white;
		border-radius: 7px;
	}
	.content {
		width: calc(100% - 75px);
		padding-left: 20px;
		@include breakpoint(max-xl) {
			@include breakpoint(lg) {
				width: 100%;
				padding-left: 0;
				padding-top: 15px;
			}
			@include breakpoint(max-md) {
				width: 100%;
				padding-left: 0;
				padding-top: 15px;
			}
		}
		.title {
			margin-bottom: 8px;
		}
	}
	a {
		display: block;
	}
}
div[class*="col"] {
	&:nth-of-type(3n + 2) {
		.contact-info-item {
			background: rgba($theme-two, 0.1);
			.icon {
				background: $theme-two;
			}
		}
	}
	&:nth-of-type(3n + 3) {
		.contact-info-item {
			background: rgba($theme-three, 0.1);
			.icon {
				background: $theme-three;
			}
		}
	}
}

.map-wrapper {
	position: relative;
	&::before {
		@extend %position-set;
		background: $gradient-one;
		left: auto;
		right: -30px;
		top: -30px;
		right: -30px;
		height: 70%;
		width: 70%;
	}
	.map {
		position: relative;
		z-index: 1;
	}
}
// Contact Section
